body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffa600;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.product-section {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
}

.product-card {
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    height: 400px;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: 25%;
}

.product-card img {
    max-width: 100%;
}

/* Media Query for smaller screens */
@media screen and (max-width: 768px) {
    .product-card {
        width: 50%; /* Two products per row on smaller screens */
    }
}

footer {
    background-color: #ffa600;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
